/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: white;
  padding: 20px;
}

.menu-container {
  max-width: 793px; /* A4 width in pixels */
  margin: 0 auto;
}

.menu-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
  color: #f2a30c;
  text-shadow: 0 0 1px #f2a30c;
}

.section-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #1affc8;
  padding-bottom: 5px;
  border-bottom: 2px solid #1affc8;
  text-shadow: 0 0 1px #1affc8;
}

.section-items {
  list-style: none;
}

.item {
  margin-bottom: 20px;
}

.item-title {
  font-size: 24px;
  margin-bottom: 5px;
  color: #f2a30c;
  text-shadow: 0 0 1px #f2a30c;
}

.item-description {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}

.item-allergens {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ff5e5e;
  font-style: italic;
}

.item-price {
  font-size: 20px;
  color: #fff;
  text-shadow: 0 0 1px #1affc8;
}

/* Print-specific styles */
@media print {
  body {
    background-color: white;
  }

  .menu-container {
    padding: 20px;
    max-width: 100%;
    width: 100%;
  }
}

/* Add the following class to your existing styles.css */

.opening-times {
  text-align: center;
  margin-bottom: 20px;
}

.opening-times p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
}

.opening-times ul {
  list-style: none;
}

.opening-times li {
  font-size: 16px;
  color: #fff;
  margin-bottom: 2px;
}


.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  color: #1affc8;
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #f2a30c;
}

/* center footer */
.footer {
  text-align: center;
  margin-top: 20px;
  
}

